:root{
  --bgcolor:#011212;
  --dim: 100px;
  --ballcolor:#ff8800;
  --brdrad:50px;
}

body {
  background-color: var(--bgcolor)
}

.ball {
  width: var(--dim);
  height: var(--dim);
  background-color: var(--ballcolor);
  border-radius:var(--brdrad);
}
